.vscode/settings.json
data_visualizer/user_params.txt
modeling/fast_style_transfer/fast-style-transfer-master.zip
modeling/fast_style_transfer/fast-style-transfer-master/.gitignore
modeling/fast_style_transfer/fast-style-transfer-master/docs.md
modeling/fast_style_transfer/fast-style-transfer-master/evaluate.py
modeling/fast_style_transfer/fast-style-transfer-master/output_image.jpg
modeling/fast_style_transfer/fast-style-transfer-master/output_image2.jpg
modeling/fast_style_transfer/fast-style-transfer-master/rain-princess.ckpt
modeling/fast_style_transfer/fast-style-transfer-master/README.md
modeling/fast_style_transfer/fast-style-transfer-master/setup.sh
modeling/fast_style_transfer/fast-style-transfer-master/style.py
modeling/fast_style_transfer/fast-style-transfer-master/test1.PNG
modeling/fast_style_transfer/fast-style-transfer-master/transfer_image.jpg
modeling/fast_style_transfer/fast-style-transfer-master/transfer_image.webp
modeling/fast_style_transfer/fast-style-transfer-master/transform_video.py
modeling/fast_style_transfer/fast-style-transfer-master/.github/FUNDING.yml
modeling/fast_style_transfer/fast-style-transfer-master/examples/content/chicago.jpg
modeling/fast_style_transfer/fast-style-transfer-master/examples/content/fox.mp4
modeling/fast_style_transfer/fast-style-transfer-master/examples/content/stata.jpg
modeling/fast_style_transfer/fast-style-transfer-master/examples/results/chicago_la_muse.jpg
modeling/fast_style_transfer/fast-style-transfer-master/examples/results/chicago_rain_princess.jpg
modeling/fast_style_transfer/fast-style-transfer-master/examples/results/chicago_the_scream.jpg
modeling/fast_style_transfer/fast-style-transfer-master/examples/results/chicago_udnie.jpg
modeling/fast_style_transfer/fast-style-transfer-master/examples/results/chicago_wave.jpg
modeling/fast_style_transfer/fast-style-transfer-master/examples/results/chicago_wreck.jpg
modeling/fast_style_transfer/fast-style-transfer-master/examples/results/fox_udnie.gif
modeling/fast_style_transfer/fast-style-transfer-master/examples/results/stata_udnie_header.jpg
modeling/fast_style_transfer/fast-style-transfer-master/examples/results/stata_udnie.jpg
modeling/fast_style_transfer/fast-style-transfer-master/examples/style/la_muse.jpg
modeling/fast_style_transfer/fast-style-transfer-master/examples/style/rain_princess.jpg
modeling/fast_style_transfer/fast-style-transfer-master/examples/style/the_scream.jpg
modeling/fast_style_transfer/fast-style-transfer-master/examples/style/the_shipwreck_of_the_minotaur.jpg
modeling/fast_style_transfer/fast-style-transfer-master/examples/style/udnie.jpg
modeling/fast_style_transfer/fast-style-transfer-master/examples/style/wave.jpg
modeling/fast_style_transfer/fast-style-transfer-master/examples/thumbs/la_muse.jpg
modeling/fast_style_transfer/fast-style-transfer-master/examples/thumbs/rain_princess.jpg
modeling/fast_style_transfer/fast-style-transfer-master/examples/thumbs/the_scream.jpg
modeling/fast_style_transfer/fast-style-transfer-master/examples/thumbs/the_shipwreck_of_the_minotaur.jpg
modeling/fast_style_transfer/fast-style-transfer-master/examples/thumbs/udnie.jpg
modeling/fast_style_transfer/fast-style-transfer-master/examples/thumbs/wave.jpg
modeling/fast_style_transfer/fast-style-transfer-master/src/optimize.py
modeling/fast_style_transfer/fast-style-transfer-master/src/transform.py
modeling/fast_style_transfer/fast-style-transfer-master/src/utils.py
modeling/fast_style_transfer/fast-style-transfer-master/src/vgg.py
modeling/reinforcement_learning/DeepLearningFlappyBird-master.zip
modeling/reinforcement_learning/DeepLearningFlappyBird-master/.gitignore
modeling/reinforcement_learning/DeepLearningFlappyBird-master/deep_q_network.py
modeling/reinforcement_learning/DeepLearningFlappyBird-master/LICENSE
modeling/reinforcement_learning/DeepLearningFlappyBird-master/README.md
modeling/reinforcement_learning/DeepLearningFlappyBird-master/assets/audio/die.ogg
modeling/reinforcement_learning/DeepLearningFlappyBird-master/assets/audio/die.wav
modeling/reinforcement_learning/DeepLearningFlappyBird-master/assets/audio/hit.ogg
modeling/reinforcement_learning/DeepLearningFlappyBird-master/assets/audio/hit.wav
modeling/reinforcement_learning/DeepLearningFlappyBird-master/assets/audio/point.ogg
modeling/reinforcement_learning/DeepLearningFlappyBird-master/assets/audio/point.wav
modeling/reinforcement_learning/DeepLearningFlappyBird-master/assets/audio/swoosh.ogg
modeling/reinforcement_learning/DeepLearningFlappyBird-master/assets/audio/swoosh.wav
modeling/reinforcement_learning/DeepLearningFlappyBird-master/assets/audio/wing.ogg
modeling/reinforcement_learning/DeepLearningFlappyBird-master/assets/audio/wing.wav
modeling/reinforcement_learning/DeepLearningFlappyBird-master/assets/sprites/0.png
modeling/reinforcement_learning/DeepLearningFlappyBird-master/assets/sprites/1.png
modeling/reinforcement_learning/DeepLearningFlappyBird-master/assets/sprites/2.png
modeling/reinforcement_learning/DeepLearningFlappyBird-master/assets/sprites/3.png
modeling/reinforcement_learning/DeepLearningFlappyBird-master/assets/sprites/4.png
modeling/reinforcement_learning/DeepLearningFlappyBird-master/assets/sprites/5.png
modeling/reinforcement_learning/DeepLearningFlappyBird-master/assets/sprites/6.png
modeling/reinforcement_learning/DeepLearningFlappyBird-master/assets/sprites/7.png
modeling/reinforcement_learning/DeepLearningFlappyBird-master/assets/sprites/8.png
modeling/reinforcement_learning/DeepLearningFlappyBird-master/assets/sprites/9.png
modeling/reinforcement_learning/DeepLearningFlappyBird-master/assets/sprites/background-black.png
modeling/reinforcement_learning/DeepLearningFlappyBird-master/assets/sprites/base.png
modeling/reinforcement_learning/DeepLearningFlappyBird-master/assets/sprites/pipe-green.png
modeling/reinforcement_learning/DeepLearningFlappyBird-master/assets/sprites/redbird-downflap.png
modeling/reinforcement_learning/DeepLearningFlappyBird-master/assets/sprites/redbird-midflap.png
modeling/reinforcement_learning/DeepLearningFlappyBird-master/assets/sprites/redbird-upflap.png
modeling/reinforcement_learning/DeepLearningFlappyBird-master/game/flappy_bird_utils.py
modeling/reinforcement_learning/DeepLearningFlappyBird-master/game/wrapped_flappy_bird.py
modeling/reinforcement_learning/DeepLearningFlappyBird-master/images/flappy_bird_demp.gif
modeling/reinforcement_learning/DeepLearningFlappyBird-master/images/network.png
modeling/reinforcement_learning/DeepLearningFlappyBird-master/images/preprocess.png
modeling/reinforcement_learning/DeepLearningFlappyBird-master/logs_bird/hidden.txt
modeling/reinforcement_learning/DeepLearningFlappyBird-master/logs_bird/readout.txt
modeling/reinforcement_learning/DeepLearningFlappyBird-master/saved_networks/bird-dqn-2880000
modeling/reinforcement_learning/DeepLearningFlappyBird-master/saved_networks/bird-dqn-2880000.meta
modeling/reinforcement_learning/DeepLearningFlappyBird-master/saved_networks/bird-dqn-2890000
modeling/reinforcement_learning/DeepLearningFlappyBird-master/saved_networks/bird-dqn-2890000.meta
modeling/reinforcement_learning/DeepLearningFlappyBird-master/saved_networks/bird-dqn-2900000
modeling/reinforcement_learning/DeepLearningFlappyBird-master/saved_networks/bird-dqn-2900000.meta
modeling/reinforcement_learning/DeepLearningFlappyBird-master/saved_networks/bird-dqn-2910000
modeling/reinforcement_learning/DeepLearningFlappyBird-master/saved_networks/bird-dqn-2910000.meta
modeling/reinforcement_learning/DeepLearningFlappyBird-master/saved_networks/bird-dqn-2920000
modeling/reinforcement_learning/DeepLearningFlappyBird-master/saved_networks/bird-dqn-2920000.meta
modeling/reinforcement_learning/DeepLearningFlappyBird-master/saved_networks/checkpoint
modeling/reinforcement_learning/DeepLearningFlappyBird-master/saved_networks/pretrained_model/bird-dqn-policy
